/* 
    Document   : qualityCustomer
    Created on : Jun 21, 2012, 11:27:25 AM
    Author     : 14578
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
body {

    background:#EEF2F8 url("images/bg_page.png") repeat-x top ;
    font-family: Arial;
    font-size: 12px;
    line-height: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    color: #666666;
}
.customeradd {
    background: url("images/add.png") no-repeat scroll left center transparent;
    color: #4C83B3;
    padding: 0 0 0 20px;
    text-decoration: none;
}
.goToList {
    color: #4C83B3;
    float: right;
    font-size: 12px;
    font-weight: bold;
    margin: 8px 0 18px;
}
.container_inner {
    margin: 30px 0 0 0px;
}
.page_heading {
    color: #666666;
    font-size: 18px;
    font-weight: bold;
    margin-left: 19px;
}
div.formContent_new {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CADFF2;
    float: left;
    margin: 0 0 30px 18px;
    outline: 1px none;
    padding-bottom: 0;
    width: 950px;
}
.buttonAlignment {
    color: #FFFFFF;
    font-family: arial;
    font-size: 13px;
    font-weight: bold;

}
div#btnGroup {

    text-align: center;
    width: 100%;
    margin:10px 0px 5px 0px;
}
.qualitysave {
    background: url("images/icon_btn_save.png") no-repeat scroll 8px 8px #316CA8;
    border: 1px solid #4492BF;
    color: #FFFFFF;
    font-weight: bold;
    height: 30px;
    margin: 0 0 0 15px;
    padding: 0 10px 0 30px;
}
.qualitysubmit {
    background: url("images/icon_btn_submit.png") no-repeat scroll 8px 8px #316CA8;
    border: 1px solid #4492BF;
    color: #FFFFFF;
    font-weight: bold;
    height: 30px;
    margin: 0 0 0 15px;
    padding: 0 10px 0 30px;
}
.qualityback {
    background: url("images/back.png") no-repeat scroll 8px 8px #316CA8;
    border: 1px solid #4492BF;
    color: #FFFFFF;
    font-weight: bold;
    height: 30px;
    margin: 0 0 0 15px;
    padding: 0 10px 0 30px;
    width: 90px;
}
.qualitycancel {
    background: url("images/icon_btn_cancel.png") no-repeat scroll 8px 8px #316CA8;
    border: 1px solid #4492BF;
    color: #FFFFFF;
    font-weight: bold;
    height: 30px;
    margin: 0 0 0 15px;
    padding: 0 10px 0 30px;
    width: 90px;
}
.qualitysearch {
    background: url("images/icon_btn_search.PNG") no-repeat scroll 8px 8px #316CA8;
    border: 1px solid #4492BF;
    color: #FFFFFF;
    font-weight: bold;
    height: 30px;
    margin: 0 0 0 15px;
    padding: 0 10px 0 30px;
}
input#btnEdit {
    background: url("images/icon_btn_edit.png") no-repeat scroll 8px 8px #316CA8;
    border: 1px solid #4492BF;
    color: #FFFFFF;
    font-weight: bold;
    height: 30px;
    margin: 0 0 0 15px;
    padding: 0 10px 0 30px;
    width:90px;
}
.qualityexcelexport {
    background: url("images/export-to-excel-button-icon.png") no-repeat scroll 8px 8px #316CA8;
    border: 1px solid #4492BF;
    color: #FFFFFF;
    font-weight: bold;
    height: 30px;
    margin: 0 0 0 15px;
    padding: 0 10px 0 30px;
}
.textbox_new {
    background: url("images/text-bg.gif") repeat-x scroll center top #FFFFFF;
    border: 1px solid #C4D1E0;

    font-family: arial;
    font-size: 12px;
    height: 20px;
    width: 225px;
	box-sizing: content-box;
    display: inline-block;
    padding: 2px 2px 1px 3px;
}

#customerdatadisplay table {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 0 none;
    clear: both;
    width: 930px;
}
#customerdatadisplay table tr td {
    padding: 3px 3px;
    vertical-align: top;
    width: 50%;
}
.add {
    background: url("images/add.png") no-repeat scroll left center transparent;
    color: #4D85B8;
    float: right;
    height: 20px;
    padding: 2px 0 0 21px;
    text-decoration: none;
}
 .remove{
    background: url("images/icon_cancel.gif") no-repeat scroll left center transparent;
    color: #4D85B8;
    float: right;
    height: 20px;
    padding: 2px 0 0 21px;
    text-decoration: none;
}
.customerexportexcel{
    background: url("images/export-16x16.png") no-repeat scroll left center transparent;
    color: #4D85B8;
    float: right;
    height: 20px;
    padding: 2px 0 0 21px;
    text-decoration: none;
}
.exportexcel {
    background: url("images/export-to-excel-button-icon.png") no-repeat scroll left center transparent;
    color: #4D85B8;
    float: right;
    height: 20px;
    padding: 2px 0 0 21px;
    text-decoration: none;
}
.notice_page {
    background-color: #ECE6D2;
    background-repeat: no-repeat;
    border: 1px solid #DDD6B7;
	 width: 950px;
    padding: 0px 0px 8px 8px;
    margin: 0px 0px 5px 18px;





}
.filterWrap{
    background: url("../images/box-strip.jpg") repeat-x scroll center top #E2E8EC;
    border: 1px solid #BDC9D1;
    float: left;
    margin: 8px 0 9px 18px;
    padding: 20px;
    width: 909px;
    height: 90px;
}
.filetrInnerWrap {
    float: left;
    padding: 0;
    width: 100%;
    margin-top: -6px;
}
table.customer_work_address > tbody >tr >td > .textbox_new,table.customer_billing_address > tbody >tr >td > .textbox_new{
    width:95%;
}
table.finance_contact > tbody >tr >td > .textbox_new,table.business_contact > tbody >tr >td > .textbox_new  {
    width:95%;
}